* {
  font-family: 'Press Start 2P';
}

body {
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  align-items: center;
  text-align: center;
}

.reset-button {
  background-color: rgb(44, 44, 44);
  cursor: pointer;
}

.game-level {
  position: absolute;
  cursor: pointer;
}

.game-level button {
  font-size: 12px;
  padding: 5px;
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  cursor: pointer;
}

.lives {
  font-size: 12px;
}

.timer {
  font-size: 12px;
}

.hints {
  text-align: center;
  margin-bottom: 10px;
}

.hint-button {
  font-size: 12px;
  padding: 5px;
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  cursor: pointer;
}

.minefield-container {
  margin: auto;
}

.minefield td {
  /* background-color: rgb(44, 44, 44); */
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  outline-width: 2px;
  outline-color: rgb(0, 0, 0);
  outline-style: outset;
}

.td-button {
  background-color: rgb(44, 44, 44);
}

.explosion {
  font-size: 50px;
  background-color: red;
}

.safe-cell {
  box-shadow: lightgreen 0 0 50px 3px;
}

.safe-click {
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  font-size: 12px;
}

.mega-hint-button {
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  font-size: 12px;
}

.mega-hint-cell {
  background-color: rgba(125, 202, 62, 0.973);
  animation: blinker 1.5s linear infinite;
}

.mega-hint-error {
  background-color: rgba(168, 52, 52, 0.973);
  animation: blinker 1.5s linear infinite;
}
.debug-button {
  background-color:darkred;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}