* {
  font-family: 'Press Start 2P';
}

body {
  background-color: rgb(44, 44, 44);
  overflow: auto;
  color: rgb(218, 218, 218);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.main-container {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.reset-button {
  background-color: rgb(44, 44, 44);
  cursor: pointer;
}

.game-level {
  cursor: pointer;
}

.game-controls-container {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 250px;

}

.game-level button {
  font-size: 12px;
  padding: 5px;
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  cursor: pointer;
}

.lives {
  font-size: 12px;
}

.timer {
  font-size: 12px;
}

.hints {
  text-align: center;
  margin-bottom: 10px;
}

.hint-button {
  font-size: 12px;
  padding: 5px;
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  cursor: pointer;
}

.minefield td {
  /* background-color: rgb(44, 44, 44); */
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  font-size: 15px;
  outline-width: 2px;
  outline-color: rgb(0, 0, 0);
  outline-style: outset;
}

.td-button {
  background-color: rgb(44, 44, 44);
}

.explosion {
  font-size: 50px;
  background-color: red;
}

.safe-cell {
  box-shadow: lightgreen 0 0 50px 3px;
}

.safe-click {
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  font-size: 12px;
}

.mega-hint-button {
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  font-size: 12px;
}

.mega-hint-cell {
  background-color: rgba(125, 202, 62, 0.973);
  animation: blinker 1.5s linear infinite;
}

.mega-hint-error {
  background-color: rgba(168, 52, 52, 0.973);
  animation: blinker 0.6s linear infinite;
}

.undo-button {
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  font-size: 12px;
}

.debug-button {
  background-color: darkred;
}

.exterminator {
  background-color: rgb(44, 44, 44);
  color: rgb(218, 218, 218);
  font-size: 12px;
}

.main-game-container {
  padding-top: 20px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 350px;
}

.game-header-container {
  margin-top: 33px;
  padding: 0 10px;
  background-color: rgb(44, 44, 44);
  width: fit-content;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 17px;

}

.minefield-container {
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.high-scores {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 10px;
  padding-top: 50px;
  margin-top: 20px;
  line-height: 150%;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
